.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TABLE STYLING */
.studentsH2 {
  color: #a893b4;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}

.studentsH3 {
  color: #a893b4;
  margin-top: 60px;
  margin-bottom: -25px;
  font-weight: 600;
}

.students {
  background-color: #353148;
  width: 50%;
  border-collapse: collapse;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

.students tr:nth-child(even){
  background-color: #f2f2f2;
}

.students tr:nth-child(odd) {
  background-color: #ddd;
}

.students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#353148;
  color: white;
  font-size: 18px;
}

.deleteBtn {
  background-color: 'red';
}

/* FORM STYLING*/
.form {
  margin-top: 40px;
  margin-bottom: 100px;
  background-image: linear-gradient(-290deg, #89799c, #a759be);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formTitles {
  font-weight: bold;
  margin-bottom: -7px;
  margin-top: 10px;
  padding: 8px;
  color: #fff;
}
